<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="../assets/pexels.png" />
  <div class="row row-center">
    <input type="text" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search Photo" class="form-control col-sm-8" />
  </div>
</div>
<section class="py-5" id="s_prints">
  <div class="container py-5">
    <div class="grid-thumbs">
      <span *ngFor="let photo of photos.photos; let i=index">
        <img class="img-fluid" src="{{ photo.src.portrait }}" width="250px" (click)="open(i)" alt="">
      </span>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
